




<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>{{tituloBusqueda}}</mat-label>
      <input type="text"
             placeholder="buscar..."
             matInput
             [formControl]="buscadorInput"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of listFiltroValores ; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>